<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
  <div class="main">
    <div class="login">
      <form action="/procesar_login" method="POST">
        <label>Login</label>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="pswd" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesión</button>
        <p class="link">¿No tienes cuenta? <a href="../templates/signup.html">Regístrate aquí</a></p>
      </form>
    </div>
  </div>
</body>
</html>
